.taskContainer {
  width: 100%;
  max-width: 48rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--gray-500);
  color: var(--gray-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}

.checkbox_wrapper {
  display: flex;
  align-items: center;
  width: 90%;
  gap: 1rem;
}

.checkbox_wrapper p {
  margin: auto;
}

.checkbox_wrapper input[type="checkbox"] {
  appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid var(--blue);
  border-radius: 50%;
  cursor: pointer;
}

.checkbox_wrapper input[type="checkbox"]:hover{
  border: 2px solid var(--blue-dark);
  background-color: var(--gray-400);
}

.checkbox_wrapper input[type='checkbox']:checked {
  background-image: url('../../assets/Checked.svg');
  background-size: 70%;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 1.2rem;
  height: 1.2rem;
  color: white;
  background-color: var(--purple-dark);
  border-radius: 50%;
  border: none;
}

.checkbox_wrapper input[type='checkbox']:checked:hover {
  background-color: var(--purple);
}

.taskContainer p {
  text-align: center;
  color: var(--gray-100);
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.checkbox_wrapper input[type='checkbox']:checked ~ p {
  color: var(--gray-300);
  text-decoration: line-through;
}

.taskContainer button {
  background-color: transparent;
  padding: 0.2rem;
  border: none;
  color: var(--gray-300);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.taskContainer button:hover {
  padding: 0.2rem;
  border-radius: 4px;
  background-color: var(--gray-400);
  color: var(--danger-red);
}

